@import url(reset.css);

body {
	font-family: 'Helvetica';
}

.header {
	background-color: #FE1A19;
	height: 60px;
	width: 1440px;
	
	
}

.header_text {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	padding: 20px 0px 0px 20px;
	color: #FFFFFF;
}

.main_container {
	height: 904px;
	width: 1440px;
}

.container {
	display: flex;
	justify-content: space-around;
	padding: 52px 0px 52px 0px;

}

.block {
	width: 400px;
	height: 800px;
	border: 5px solid #E5E000;
	border-radius: 30px;
	box-sizing: border-box;
}

.colonum {
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	padding: 33px 0px 41px 33px;

}

.item_text {
	height: 670px;
	width: 334px;
	font-family: 'Times New Roman';
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	padding: 0px 0px 0px 33px;
	display: flex;
	flex-direction: column;
}

.footer {
	display: flex;
	background-color: #FE1A19;
	height: 60px;
	width: 1440px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
}

.footer_text {
	font-family: 'Helvetica';
	font-weight: 400;
	font-size: 20px;
	padding: 20px 20px;
}