.name {
	background: black;
	color: white;
}

#biografia {
	background: black;
	color: white;
}

#alone {
	background: black;
	color: white;

}

#ho{
	background: black;
	color: white;
}

#links{
	background: black;
	color: white;
}

